asgiref==3.11.0
babel==2.17.0
Django==4.2.11
django-extra-views==0.14.0
django-haystack==3.3.0
django-oscar==3.2.4
django-oscar-api==3.3.0
django-phonenumber-field==6.4.0
django-tables2==2.3.4
django-treebeard==4.8.0
django-widget-tweaks==1.5.0
djangorestframework==3.16.1
factory-boy==3.2.1
Faker==40.1.0
packaging==25.0
phonenumbers==9.0.21
pillow==12.0.0
purl==1.6
setuptools==80.9.0
six==1.17.0
sorl-thumbnail==12.11.0
sqlparse==0.5.5
tzdata==2025.3
